*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFBFD;
    width: 100%;
    color: #212121;
    transition: all .3s;
}
a {
    text-decoration: none;
}
.flexbox {
    display: flex;
}
.margin-auto {
    margin: auto;
}
.mobile-nav {
    display: none;
}
.headline {
    font-weight: bold;
}
.finding-more-box  {
    text-align: center;
    justify-content: center;
}
.finding-more-text {
    color: #F7B733;
}
.finding-more-icon {
    width: 30px;
    padding-right: 5px;
}
/* --------------------Nav Start here---------------------------------- */
.nav-container {
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.logo, .logo-bottom {
    width: 100px;
}
.padding  {
    padding: 15px 0;
    text-align: justify;
    margin: auto;
}
.text-color {
    color: #FAFBFD;
}
.link-hover {
    transition: all .5s;
    padding:  5px;
    
}
.link-hover:hover {
    color: #F7B733;
    border-bottom: 2px solid #F7B733;
    /* text-decoration: underline; */
}
/* ------------------------------info-02 starts here-------------------------------- */
.info-02-banner-container {
    position: relative;
    
}
.info-02-banner {
    width: 100%;
    height: 50vh;
    background-image: url(../img/info_2/SuperTree_banner_info_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quick-bnt-box {
    width: 80%;
    height: 10vh;
    justify-content: space-around;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.quick-btn {
    text-align: center;
    padding: 20px 10px;
    border-right: 1px solid #6f6f6f;
    color: #212121;
}
/* --------------------content starts here-------------------------------- */
.info-02-content-container {
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.info-headline, .nearby-headline {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0;
}
.info-content {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.info-gallery-box {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}
.info-card {
    width: 80%;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 40px;
    margin: 20px auto;
}
.info-img {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px 40px 0 0;
}
.info-text {
    padding: 50px 25px;
}
.SO-img {
    background-image: url(../img/info_2/observatory1.jpg);
}
.OS-img {
    background-image: url(../img/info_2/OcbcSkyway.jpg);
}
.no-miss-img {
    background-image: url(../img/info_2/DontMissing.jpg);
}
.knowing-img {
    background-image: url(../img/info_2/doYouKonw.jpg);
}
.info-subtitle {
    padding: 10px 0;
}
.info-subcontent {
    padding: 10px 0;
    padding-bottom: 20px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
/* -------------------------------nearby starts here--------------------------------------------------- */
.nearby-container {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}
.nearby-box {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.nearby-img {
    width: auto;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.HG-box, .WP-box, .SFH-box, .FF-box {
    text-align: center;
}
.HG-img {
    background-image: url(../img/info_2/heritage\ gardens.jpg);
}
.WP-img {
    background-image: url(../img/info_2/worldOfPlants.jpg);
}
.SFH-img {
    background-image: url(../img/info_2/supertreeFoodHall.jpg);
}
.FF-img {
    background-image: url(../img/info_1/Gardens-by-the-Bay-Singapore-Floral-Fantasy-Dance-landscape-overview.jpg);
}
.nearby-name {
    /* width: 10%; */
    padding: 20px;
    text-align: center;
}
 /* -----------------------------footer starts here----------------------------------- */
 .footer-container {
    width: 100%;
    background-color: #212121;
    margin-top: 100px;
}
.top-footer-container {
    width: 80%;
    justify-content: space-around;
    margin: 10px auto;
}
.visit-box, .contact-box, .connect-box {
    height: 30vh;
    border: 2px solid #FAFBFD;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    width: 30%;
    margin: 0 10px;
    margin-top: 30px;
    text-align: center;
}
.footer-headline {
    color: #FAFBFD;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;

}
.address, .contact-info, .btn-direction, .btn-submit, .btn-sing-up {
    color: #FAFBFD;
    font-size: .5rem;
} 
.btn-direction, .btn-submit, .btn-sing-up {
    border: 1px solid #FAFBFD;
    padding: 20px 10px;
}
.fb, .ig, .tw {
    margin: 0 auto;
    width: 30px;
}
.bottom-footer-container {
    width: 100%;
    background-color: black;
    justify-content: center;
    padding-bottom: 20px;
}
.others-box {
    justify-content: space-around;
    padding: 15px 0;
}
.link-contact, .link-team, .link-policy {
color: #FAFBFD;

}
.logo-bottom {
    width: 150px;
    justify-content: center;
    margin: 20px auto;
    padding: 30px 80px;
    border-bottom: 1px solid #999999;
}
/* ----------------------------------mediaQuery: phone size---------------------------------- */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        height: 100vh;
    }
    .nav-container, .footer-container, .quick-bnt-box, .type-icon-box, .cover, .nearby-container {
        display: none;
    }
  
     .mobile-nav {
         z-index: 3;
         display: flex;
         width: 80%;
         height: 10vh;
         background-color: white;
         box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
         justify-content: space-around;
         align-items: center;
         border-radius: 30px;
         margin: 0 auto;
         left: 10%;
         margin-top: 90vh;
         position: fixed;
  
     }
     .search-btn, .comments-btn, .review-btn {
        width: 30px;
    }

    .user-account {
        width: 30px;
        height: 30px;
        background-image: url(../img/black-chimpanzee-smiling-50582.jpg);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info-02-content-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info-subcontent {
        display: none;
    }
    .info-text {
        padding: 20px;
    }
}